.side-bar {
  width: 300px;
  &__user-name {
    height: 100px;
    background-color: #253141;
    display: flex;
    align-items: center;
    &--top-items {
      width: 260px;
      height: 20px;
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
      font-size: 16px;
      color:$font-color;
      font-weight: bold;
      &__icons {
        display: flex;
        .icon-color {
          color: $font-color;
          text-align: right;
          display: inline-block;
          margin-left: 5px;
          font-size: 14px;
        }
      }
    }    
  }
  &__group-list {
    height: calc(100vh - 100px);
    background-color: #2f3e51;
    &--link {
      text-decoration: none;
    }
    .group {
      padding-top: 20px;
      padding-left: 20px;
      &__group-name {
        color: $font-color;
        font-size: 15px;
      }
      &__new-message {
        color: $font-color;
        margin-top: 5px;
        font-size: 11px;  
        text-decoration: none;
        padding-bottom: 20px;
      }
    }
  }
}